body {
  background-color: peachpuff;
  font-family: "Helvetica ", sans-serif;
}
h1 {
  color: grey;
  font-family: "Time New Roman", serif;
}
h2 {
  font-family: "Time New Roman", serif;
}
h3 {
  font-style: italic;
}
a {
  color: slateblue;
}
nav ul {
  background-color: sandybrown;
  border-style: solid;
  border-color: seashell;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
}
nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  color: papayawhip;
}
nav ul li a {
  text-decoration: none;
  color: olive;
}
img {
  border-radius: 30px;
}

table,
th,
td {
  border: 1px solid honeydew;
}
tr {
  background-color: palegoldenrod;
}
th,
td {
  vertical-align: top;
  padding: 5px;
  text-align: center;
}
