body {
  background-color: peachpuff;
  font-family: "Helvitica", sans-serif;
}
h1 {
  color: gray;
  font-family: "Times New Roman", serif;
}
h2 {
  font-family: "Times New Roman", serif;
}
h3 {
  font-style: italic;
}
a {
  color: slateblue;
}
nav ul {
  background-color: sandybrown;
  border-style: solid;
  border-color: seashell;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
}

nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  color: papayawhip;
}

nav ul li a {
  text-decoration: none;
  color: darkred;
}

img {
  border-radius: 30px;
}

table,
th,
td {
  border: 1px solid honeydew;
}

tr {
  background-color: palegoldenrod;
}

th,
td {
  vertical-align: center;
  padding: 5px;
  text-align: center;
}
